@charset "UTF-8";

/* Typical Devices Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
 */

 @media screen and (min-width:768px) and (max-width: 991px){
    .corpo{
        width: 90vw;
        height: 290px;
        transition: width .3s, height .3s;
    }
    .texto{
        width: 97%;
        padding-left: 30.5%;
        margin-bottom: 0px;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    p.texto2{
        margin-top: 10px;
    }
    .Campo{
        float: right;
        width:66.3%;
        margin-bottom: 0px;
        margin-right:14px;
   }
   #Lemail{
        width: 92.8%;
   }
   #Lsenha{
        width: 92.8%;
   } 
   .btn-enviar{
        float: right;
        width:66.3%;
        margin-top: 10px;
        margin-right:14px;
   }
   .btn-esq{
        float: right;
        width:66.3%;
        margin-right:14px;
   }
}

@media screen and (min-width: 992px) {
    .corpo{
        width: 950px;
        height: 320px;
    }
    .texto{
        font-size: 1em;
    }
    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center left;
    }
    p.texto2{
        margin-top:10px ;
    }
    #Lemail{
        width: 91.5%;
    }
    #Lsenha{
        width: 91.5%;
    }
    .Campo{
        width: 47.8%;
    }
    .btn-enviar{
        width: 47.8%;
    }
    .btn-esq{
        width: 47.8%;
    }
    div.texto > h1{
        font-size: 2em;
    }
}