@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top, #4E248C, #6416DB);
}

div#imagem{
    z-index: 1;
    background-image: url('../imagens/pexels-sean-whang-804269\ \(1\).jpg');
    background-size: cover;
    background-position: left bottom;
    width: 300px;
    height: 250px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -96%);
    border-radius: 20px 20px 0 0;
}

.corpo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin: auto;
    width: 300px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 2px 12px 2px #0000006b;
}

.material-symbols-outlined {
    margin: 4px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
    width: 40px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: #4E248C;
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

#Lemail{
    display: block;
    background-color: rgba(84, 18, 182, 0.725);
    margin-top: -37px;
    margin-left: 40px;
    width: 236px;
    height: 35px;
    border-radius: 5px;
    transform: translateY(0px);
}

#Lsenha{
    display: block;
    background-color: rgba(84, 18, 182, 0.725);
    margin-top: -37px;
    margin-left: 40px;
    width: 236px;
    height: 35px;
    border-radius: 5px;
    transform: translateY(0px);
}

main > h1{
    text-align: center;
    margin-top: 238px;
}

p#texto2{
    font-size: 0.8em;
    margin: 7px 0;
}

.btn-enviar{
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    margin: 0 7px 7px 0px;
    width: 280px;
    height: 35px;
    background-color: #573ffe;
    border:2px solid #7D39E6;
    border-radius: 5px;
}

.btn-enviar:hover{
    background-color: #8a39e6;
    border: 2px solid #573FFE;
    transition: background 1s;
}

.btn-enviar:active{
    background-color: #C24CFC;
}

.btn-esq{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 35px;
    border: 1px solid #7D39E6;
    font-size: 1em;
    margin: 0 5px 5px 0px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
}

.btn-esq:hover{
    color: white;
    background-color: #7D39E6;
    transition: background 1s;
}

.Campo{
    background-color: #4E248C;
    border: 2px solid #4e248c ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius:5px;
    margin: 0 7px 7px 0;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.615);
}

input{
    color: rgb(255, 255, 255);
}